/* Reset some default styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Header Styles */
.header {
  background-color: rgb(43, 114, 108);
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.header-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: center center;
}

.app-button {
  background-color: #f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.app-button:hover {
  background-color: #d00;
}

/* Main Content Styles */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-container {
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
}

.success {
  color: #008000;
  font-weight: bold;
}

/* Footer Styles */
.footer {
  background-color: rgb(43, 114, 108);
  color: #fff;
  padding: 10px 0;
  text-align: center;
  flex-shrink: 0;
  margin-top: auto;
  position: sticky;
  bottom: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Login Page Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  margin: 20vh auto 0;
}

.centered-form {
  text-align: center;
}

.error {
  margin-top: 1.5em;
  color: #f00;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comments-container {
  margin-top: 20px;
}

.comments-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.comments-container ul {
  list-style-type: none;
  padding: 0;
}

.comments-container li {
  margin-bottom: 10px;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.comment-form {
  margin-top: 20px;
}

.comment-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.comment-form input[type='submit'] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form input[type='submit']:hover {
  background-color: #555;
}
